body {
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    
}
.headerout {
    height: 90px;
    margin-top: -19px;
    margin-left: -15px;
    margin-right: -7px;
    background-color: white;
    box-shadow: 0 -6px 15px 5px rgba(0,0,0,0.5);  
}

.header-image {
    width: 300px;
    height: 70px;
}
.header {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: flex;
    padding: 15px 16px 15px 16px;
    
}
footer {
    text-align: center;
    margin-top: 200px;
}
.btn {
    border: none;
    color: black;
    background-color: white;
    padding: 15px 33px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 15px 2px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.header-buttons{
    display: flex;
    text-align: right;
}
.back{
    text-align: center;
    margin-top: 90px;
}

.button-6 {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}




